<h1><%= @wish.title %></h1>

<p>Wish id is:</p><%= @wish.id %><br>
<p>Wish owner is:</p><%= @wish.user_id %><br><br>
<p>Wish title is:</p><%= @wish.title %><br>
<p>Wish content is:</p><%= @wish.content %><br>
<p>Wish price is:</p><%= @wish.price %><br><br>

<% if current_user.id != @wish.user_id %>
<form action="/wishes/<%=  @wish.id %>/buy" method="post">
			<input id="hidden" type="hidden" name="_method" value="put">
			<button type="submit" class="btn btn-success">Buy</button>
</form>
		<% end %>

