<div id="show-wish" class="center">
<h1><%= @wish.title %></h1>
<img src="<%= @wish.url %>"><br><br>
<h3>Wish content</h3> 
<p><%= @wish.content %></p><br>
<h3>Wish price:</h3><%= @wish.price %><br><br>

<% if current_user.id != @wish.user_id && current_user.wallet != 0 %>
	<form action="/wishes/<%=  @wish.id %>/buy" method="post">
		<input id="hidden" type="hidden" name="_method" value="put">
		<button type="submit" class="btn btn-success">Buy</button>
	</form>
<% end %>

</div>