<div>
  <h3><%= "Hello #{@user.username}!" %></h3>
  	<% if @user.wallet == nil %>
  		<h4><%= "You have  $ 0 dollars in your account !" %></h4>
  	<% else %>
 	 <h4><%= "You have  $#{@user.wallet} dollars in your account !" %></h4>
  	<% end %>
</div>

<h5>These are your wishes</h5>
<% @wishes.each do |wish| %>
wish id:  <%=  wish.id %><br>
wish title: <%=  wish.title %><br>
wish content:<%=  wish.content %><br>
wish price:<%=  wish.price %><br>
<br>


<a href="/wishes/<%=  wish.id %>/edit" class="btn btn-success btn-sm" value="Edit" name="Edit">Edit</a>

<form action="/wishes/<%=  wish.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit"  class="btn btn-danger btn-sm" value="Delete Wish">
</form>

<br>
<br>
<% end %>