<% if !current_user %>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Wishes</h1>
                    <h3>A Place to Sell Wishes</h3>

                    <ul class="list-inline intro-social-buttons">
                        <li>

                            <!-- Trigger the modal with a button -->
                          <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#SignInModal">Sign In</button>

                          <!-- Modal -->
                          <div class="modal fade" id="SignInModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Please Log in</h4>
                                    </div>
                                    <div class="modal-body">
                                     <form>
                                        <div class="form-group">
                                          <label for="email">Email address:</label>
                                          <input type="email" name ="user[email]" class="form-control" id="email" placeholder="Email">
                                        </div>

                                        <div class="form-group">
                                          <label for="password">Password::</label>
                                          <input type="password" name="user[password]" class="form-control" id="password" placeholder="Password">
                                        </div>
                                        <div>
                                          <input type="submit" value"Log in" class="btn btn-primary" formaction="/sessions" formmethod="post">
                                        </div>

                                      </form>

                                    </div>

                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                                <!-- Trigger the modal with a button -->
                          <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#SignUpModal">Sign Up</button>

                          <!-- Modal -->
                          <div class="modal fade" id="SignUpModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Welcome!! Please Sign up!</h4>
                                    </div>
                                    <div class="modal-body">
                                     <form action='/users' method='POST'>
                                        <fieldset class="form-group">
                                            <label for="first_name">First Name</label>
                                            <input type="text" class="form-control" id="first_name"  name="user[first_name]"placeholder="First name">
                                          </fieldset>

                                          <fieldset class="form-group">
                                            <label for="user">UserName</label>
                                            <input type="text" class="form-control" id="username" name="user[username]" placeholder="Username">
                                          </fieldset>

                                          <fieldset class="form-group">
                                            <label for="email">Email address</label>
                                            <input type="email" class="form-control" id="email"  name ="user[email]" placeholder="Enter email">
                                            <small class="text-muted">We'll never share your email with anyone else.</small>
                                          </fieldset>

                                          <fieldset class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="Password" name="user[password]" placeholder="Password">
                                          </fieldset>

                                          <input id="hidden" type="hidden" name="user[wallet]" value="0">

                                          <button type="submit" class="btn btn-primary">Submit</button>

                                      </form>

                                    </div>

                              </div>
                            </div>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<a  name="services"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Dear Wishes.com<br>Special Thanks</h2>
                <p class="lead">A special thanks to <a href="/">Wishes.com</a> for providing a place to exhange my amazing wishes.</p>
            </div>
        </div>
    </div>
    </div
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                    <div class="clearfix"></div>
                    <h2 class="section-heading">The Next Big Thing!</h2>
                    <p class="lead">Turn your wishes into money!!!</p>
                </div>

            </div>

        </div>




        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a href="https://github.com/jasonsutter87/wishes"><span class="fa fa-github-square"> Fork Me!</span></a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </footer>



        <% else %>
        <div class="container">
         <div class="row">
          <% @wishes.each do |wish| %>
          <% if wish.private == false %>
          <div class="col-sm-3 col-lg-3 col-md-3">
            <div class="thumbnail">
                <div class="caption" style="height: 250px";>
                    <h4 class="pull-left">
                     <img src="<%= wish.url %>" style="height: 35px; width: 35px";>
                 </h4>
                 <h4 class="pull-right">$<%= wish.price %></h4>
                 <h4 class="center">
                    <%= wish.title%>
                </h4>
                <h5 class="center">Wish made by: <%= User.find(wish.user_id).username %></h5>
                <p>&nbsp;&nbsp;&nbsp;<%= wish.content[0..50]%> ...</p>
                <strong>Buy to find out more!</strong>
                <% if current_user.id != wish.user_id && current_user.wallet != 0 %>
                <form action="/wishes/<%= wish.id %>/buy" method="post">
                    <input id="hidden" type="hidden" name="_method" value="put">
                    <button type="submit" class="btn btn-success">Buy</button>
                </form>
                <% end %>
            </div>
            <br>
        </div>
    </div>

    <% end %>
    <% end %>
</div>
</div>
</div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="https://github.com/jasonsutter87/wishes"><span class="fa fa-github-square"> Fork Me!</span></a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</footer>
<% end %>
